<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxTimeUse</key>
	<integer>2</integer>
	<key>data</key>
	<dict>
		<key>YXExamineRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>examine_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>ChannelTabRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>channelTab_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>CourseVideoRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>channelIndex_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>PlayHistoryRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>playHistory_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>HistoryRecordRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>historyRecord_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
