<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxTimeUse</key>
	<integer>2</integer>
	<key>data</key>
	<dict>
		<key>YXExamineRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>examine_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>ChannelTabRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>channelTab_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>CourseVideoRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>channelIndex_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>PlayHistoryRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>playHistory_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>HistoryRecordRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>historyRecord_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>LoginRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>LoginRequest.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>UpdateAreaRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>UpdateAreaRequest.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>UpdateStageSubjectRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>UpdateStageSubjectRequest.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>FetchStageSubjectRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>FetchStageSubjectRequest.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>TouristLoginRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>TouristLoginRequest.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>ChannelTabFilterRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>ChannelTabFilterRequest.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>UpdateInfoRequest</key>
		<dict>
			<key>mockEnable</key>
			<false/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>UpdateInfoRequest.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>QAQuestionListRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>questionlist_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>QAReplyListRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>replylist_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>QAQuestionDetailRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>questiondetail_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>QAReplyFavorRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>replyfavor_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
